<div class="left-column-inner">
  <ul>
    <li><a href="https://zen-eyewear.myshopify.com/account" data-page="/account">Orders</a></li>
    <li><a href="https://zen-eyewear.myshopify.com/account/addresses" data-page="/account/addresses">Addresses</a></li>
    <li><a href="{{ routes.account_logout_url }}"">Logout</a></li>
  </ul>
</div>