<div class="parallax-brand-ctm-section">
  <div class="page-width">
    <div class="main-brand-ctm-flex">
      <div class="main-brand-ctm-left">
        <h2 class="main-ctm-head"> 
          {{ section.settings.custom_text_title }}
        </h2>
        {% if section.settings.image != blank %}
          <img src="{{ section.settings.image | img_url: "master" }}" /> 
        {% endif %}
      </div>
      <div class="main-brand-ctm-right">
        <p>{{ section.settings.desc }}</p>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Custom Brand Section",    
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Select Image"
      },
      {
        "type": "textarea",
        "id": "desc",
        "label": "Add Description"
      }
    ],
        "presets":[
      {
        "name": "Custom Brand Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}