<div class="page-space-b60 page-space-t60">
<div class="page-width">
  <div class="ctm-page-title">
    <h2>{{ page.title }}</h2>
  </div>
  <div class="main-page-info">
    {{ page.content }}
  </div>
</div>
</div>
{% schema %}
  {
    "name": "Privacy Policy Section",
    "settings": [],
    "presets":[
      {
        "name": "Privacy Policy Section"
      }
    ]
  }
{% endschema %}